<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
  <add name="invetoryEntities" connectionString="metadata=res://*/Model.invetory_Entities.csdl|res://*/Model.invetory_Entities.ssdl|res://*/Model.invetory_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MFGQ1SV;initial catalog=invetory;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="invetoryEntities" connectionString="metadata=res://*/Model.invetory_Entities.csdl|res://*/Model.invetory_Entities.ssdl|res://*/Model.invetory_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=seminalwealth.com;User ID=mahesh_db;Password=inventory_mahesh@123;initial catalog=mahesh_db;ConnectTimeout=30;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient;" />-->
  </connectionStrings>
</configuration>
